---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { fetchPosts } from '~/utils/blog';

const posts = await fetchPosts();
const postsPerPage = 6;
const totalPages = Math.ceil(posts.length / postsPerPage);
const currentPage = 1;
const startIndex = (currentPage - 1) * postsPerPage;
const currentPosts = posts.slice(startIndex, startIndex + postsPerPage);

const metadata = {
  title: '博客',
  description: '探索我们的博客，了解最新的技术趋势、开发教程和行业见解。',
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="探索最新的技术趋势、开发教程、资源和其他与软件开发相关的有趣内容"
    >
      博客
    </Headline>
    <BlogList posts={currentPosts} />
    <Pagination 
      prevUrl={currentPage > 1 ? `/zh/blog/page/${currentPage - 1}` : undefined}
      nextUrl={currentPage < totalPages ? `/zh/blog/page/${currentPage + 1}` : undefined}
    />
  </section>
</Layout>